<app-navbar></app-navbar>

<main>
  <app-section-wrapper [animation]="'rotateIn'">
    <section id="home"><app-home></app-home></section>
  </app-section-wrapper>

  <app-section-wrapper [animation]="'rotateIn'">
    <section id="about"><app-about></app-about></section>
  </app-section-wrapper>

  <app-section-wrapper [animation]="'rotateIn'">
    <section id="projects"><app-projects></app-projects></section>
  </app-section-wrapper>

  <app-section-wrapper [animation]="'rotateIn'">
    <section id="skills"><app-skills></app-skills></section>
  </app-section-wrapper>

  <app-section-wrapper [animation]="'rotateIn'">
    <section id="resume"><app-resume></app-resume></section>
  </app-section-wrapper>

  <app-section-wrapper [animation]="'rotateIn'">
    <section id="contact"><app-contact></app-contact></section>
  </app-section-wrapper>
</main>

<div class="page-wrapper">
  <div class="content"></div>
</div>

<app-footer></app-footer>
