<div class="page-container">
  <h2 class="scrolling-text">Resume</h2>
  <h3 class="resume-summary">
    <div *ngIf="profile?.resume_summary" [innerHTML]="profile.resume_summary! | safeHtml"></div>
  </h3>

  <!-- Button to open the password dialog -->
  <p-button type="button" icon="pi pi-download" label="Download Resume" styleClass="p-button-info"
    (onClick)="openPasswordDialog()">
  </p-button>
  <!-- Password Dialog -->
  <div *ngIf="isPasswordDialogVisible" class="password-dialog-overlay" (click)="closePasswordDialog()">
    <div class="password-dialog" (click)="$event.stopPropagation()">
      <div class="dialog-header">
        <h3 class="dialog-text">Enter Password to Download Resume</h3>
        <button class="close-btn" (click)="closePasswordDialog()">&times;</button>
      </div>

      <div class="dialog-body">
        <input type="password" [(ngModel)]="password" placeholder="Enter your password" />
        <button (click)="validatePassword()">Unlock</button>
      </div>
    </div>
  </div>

  <div class="custom-tabs">
    <div class="tab-buttons">
      <button *ngFor="let tab of tabs" (click)="openTabDialog(tab.label)">
        <i [class]="tab.icon + ' tab-icon'"></i>
        <span class="tab-label">{{ tab.label }}</span>
      </button>
    </div>
  </div>

  <!-- Floating Modal/Dialog -->
  <div *ngIf="isDialogVisible" class="floating-dialog-overlay" (click)="closeDialog()">
    <div class="floating-dialog" (click)="$event.stopPropagation()">
      <div class="dialog-header">
        <h3>{{ activeTab }}</h3>
        <button class="close-btn" (click)="closeDialog()">&times;</button>
      </div>

      <div class="tab-content-panel" [ngSwitch]="activeTab">
        <!-- Education -->
        <div *ngSwitchCase="'Education'">
          <div #educationSection *ngFor="let edu of educations; let i = index" class="content-section edu-section">
            <div class="category-header" (click)="toggleSection(i)">
              <h3>{{ edu.degree }} - {{ edu.school }}</h3>
              <span class="toggle-icon chevron" [class.rotated]="openEducationIndex === i">▼</span>
            </div>

            <div class="edu-details" [@collapseAnimation]="openEducationIndex === i ? 'open' : 'closed'">
              <p><strong>Year:</strong> {{ edu.year }}</p>
              <h3>Major: {{ edu.major }} </h3>
              <strong>Focus Area: {{ edu.focus_area }}</strong>
            </div>
          </div>
        </div>

        <!-- Experience -->
        <div *ngSwitchCase="'Experience'">
          <div #experienceSection class="content-section edu-section" *ngFor="let exp of experiences; let i = index">

            <!-- Header: title left, company/location right -->
            <div class="exp-header" (click)="toggleExperience(i)">
              <div class="job-title">{{ exp.job_title }}</div>

              <div class="company-info">
                <div class="company-name">{{ exp.company_name }}</div>
                <div class="location" *ngIf="exp.location">{{ exp.location }}</div>
              </div>

              <span class="toggle-icon chevron" [class.rotated]="openExperienceIndex === i">▼</span>
            </div>

            <!-- Details -->
            <div class="edu-details" [@collapseAnimation]="openExperienceIndex === i ? 'open' : 'closed'">
              <p>
                <strong>Period:</strong>
                {{ exp.start_date }} - {{ exp.is_current ? 'Present' : exp.end_date }}
              </p>
              <div class="project-body" [innerHTML]="(exp.description ?? '') | safeHtml"></div>
            </div>
          </div>
        </div>
        <!-- Projects -->
        <div *ngSwitchCase="'Projects'">
          <div #projectSection class="content-section edu-section" *ngFor="let proj of projects; let i = index">
            <div class="category-header" (click)="toggleProject(i)">
              <h3>{{ proj.name }} <small>({{ proj.year }})</small></h3>
              <span class="toggle-icon chevron" [class.rotated]="openProjectIndex === i">▼</span>
            </div>

            <div class="edu-details" [@collapseAnimation]="openProjectIndex === i ? 'open' : 'closed'">
              <p class="project-description">{{ proj.description }}</p>
              <div class="project-body" [innerHTML]="(proj.body ?? '') | safeHtml"></div>
              <div *ngIf="proj.technology?.length" class="project-tech-stack">
                <strong>Tech Stack:</strong>
                <ul class="tech-list">
                  <li *ngFor="let tech of proj.technology">{{ tech }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Skills -->
        <div *ngSwitchCase="'Skills'" class="skills-wrapper">
          <div *ngFor="let group of groupedSkills; let i = index" #skillCategorySection class="skill-category"
            [ngClass]="{
      'full-width': isFullWidthCategory(group.category),
      'half-width': !isFullWidthCategory(group.category)
    }">
            <!-- Header: stays fixed -->
            <div class="category-header" (click)="toggleCategory(i)">
              <h3>
                {{ group.category }}
                <i [ngClass]="isCategoryOpen(i) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" class="toggle-icon"></i>
              </h3>
            </div>

            <!-- Collapsible body: animated smoothly -->
            <div class="skills-list-wrapper" [@collapseAnimation]="isCategoryOpen(i) ? 'open' : 'closed'">
              <ul class="skills-list">
                <li *ngFor="let skill of group.skills">
                  <div class="skill-label">
                    <i class="pi pi-check-circle"></i>
                    <p-image [src]="skill.image" alt="Image" width="40" preview class="skill-image"></p-image>
                    {{ skill.name }}
                  </div>
                  <div class="skill-bar-container" [title]="getSkillTooltip(skill.rating)">
                    <div class="skill-bar" [style.width.%]="getSkillPercentage(skill.rating)"
                      [ngClass]="getSkillLevelClass(skill.rating)"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Extracurricular -->
        <div *ngSwitchCase="'Extracurricular'">
          <div #leadershipSection *ngFor="let activity of leaderships; let i = index"
            class="content-section edu-section">
            <div class="category-header" (click)="toggleLeadership(i)">
              <h3>{{ activity.name }}</h3>
              <span class="toggle-icon chevron" [class.rotated]="openLeadershipIndex === i">▼</span>
            </div>

            <div class="edu-details" [@collapseAnimation]="openLeadershipIndex === i ? 'open' : 'closed'">
              <div class="project-body" [innerHTML]="(activity.description ?? '') | safeHtml"></div>
            </div>
          </div>
        </div>

        <div *ngSwitchDefault>
          <p>Select a tab.</p>
        </div>
      </div>
    </div>
  </div>
</div>
