<div class="page-container">
  <!-- Scrolling text heading -->
  <div class="welcome-container">
    <h2 class="scrolling-text">At glance</h2>
  </div>
  <h3 class="intro-summary">
  <div *ngIf="profile?.intro_summary" [innerHTML]="profile.intro_summary! | safeHtml"></div>
    </h3>
  <!-- Profile & Welcome Section -->
  <div class="profile-section bg-dark bg-opacity-75 p-4 rounded" *ngIf="profile">
    <!-- Left: Profile Info -->
    <div class="profile-info">
      <h2>About me</h2>
      <div *ngIf="profile?.biography" [innerHTML]="profile.biography! | safeHtml"></div>
    </div>

    <!-- Right (or bottom on mobile): Welcome Section -->
    <div class="welcome-section">
      <h3>Where to Find Me</h3>
      <ul class="social-links" *ngIf="profile_contacts?.length">
        <ng-container *ngFor="let link of profile_contacts">
          <li *ngIf="link.category === 'Link' && link.name" class="link-item">
            <a [href]="link.url" target="_blank" class="link-content">
              <p-image [src]="link.icon" alt="Image" width="30" preview></p-image>
              <span class="link-name">{{ link.name }}</span>
            </a>
          </li>
        </ng-container>
      </ul>

      <h3>What's Next!</h3>
      <p class="lead">
        If you’re interested in collaborating, hiring, or just chatting tech, feel free to
        <a href="#" (click)="scrollToSection('contact', $event)" class="inline-link">
          get in touch
        </a>
        or connect with me on one of the platforms above.
      </p>
      <p-button label="Learn More" icon="pi pi-arrow-right" (onClick)="scrollToSection('about')"
        class="custom-button mt-3">
      </p-button>
    </div>
  </div>
</div>
