<div class="page-container">
  <div class="profile-section bg-dark bg-opacity-75 p-4 rounded" *ngIf="profile">
    <div class="profile-info">
      <img [src]="profile.avatar" alt="Avatar" class="avatar-img mb-3" />
      <h1 *ngIf="profile?.user">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
      <p *ngIf="profile?.title">{{ profile.title }}</p>

      <!-- Scroll button to About section -->
      <p-button
        label="Learn More"
        icon="pi pi-arrow-right"
        (onClick)="scrollToSection('about')"
        class="custom-button mt-3">
      </p-button>
    </div>

    <div class="welcome-section">
      <h1 class="section-title">Welcome!</h1>
      <h3 class="lead" >
        <div *ngIf="profile?.welcome_summary" [innerHTML]="profile.welcome_summary! | safeHtml"></div>
      </h3>
    </div>
  </div>

  <section class="container my-4">
    <div class="p-grid">
      <div class="p-col-12 p-md-4 mb-4 custom-gradient-card" *ngFor="let section of sections.slice(0, 3)">
        <p-card [header]="section.title" [style]="{ 'height': '100%' }">
          <p>{{ section.description }}</p>
          <p-footer>
            <p-button
              [label]="section.buttonText"
              icon="pi pi-arrow-right"
              (onClick)="scrollToSection(section.id)"
              class="custom-button mt-3">
            </p-button>
          </p-footer>
        </p-card>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12 p-md-6 mb-4 custom-gradient-card" *ngFor="let section of sections.slice(3)">
        <p-card [header]="section.title" [style]="{ 'height': '100%' }">
          <p>{{ section.description }}</p>
          <p-footer>
            <p-button
              [label]="section.buttonText"
              icon="pi pi-arrow-right"
              (onClick)="scrollToSection(section.id)"
              class="custom-button mt-3">
            </p-button>
          </p-footer>
        </p-card>
      </div>
    </div>
  </section>
</div>
