<div class="page-container">
  <div class="section-title-wrapper">
      <h1 class="section-title">Projects</h1>
  </div>
  <!-- Academic Projects -->
  <div class="project-category">
    <h2>Academic Projects</h2>
    <h3 class="project-summary">
      <div *ngIf="profile?.academic_projects_summary" [innerHTML]="profile.academic_projects_summary! | safeHtml"></div>
    </h3>

    <div class="scroll-wrapper" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
      <button class="arrow-btn left" (click)="scroll(academicScroll, -300, 'academic')">&#8592;</button>
      <div class="scroll-container" #academicScrollContainer>
        <div class="project-card" *ngFor="let project of academicProjects">
          <img [src]="project.image" alt="{{ project.name }}" />
          <div class="project-info">
            <h4>{{ project.name }}</h4>
            <p>{{ project.description }}</p>
            <p-button *ngIf="project.url?.trim()" label="Click for code or demo" icon="pi pi-arrow-right"
                      (onClick)="openLink(project.url)" class="custom-button mt-3">
            </p-button>
          </div>
          <div class="project-tech-stack">
            <strong>Tech Stack:</strong>
            <ul class="tech-list">
              <li *ngFor="let tech of project.technology">{{ tech }}</li>
            </ul>
          </div>
        </div>
      </div>
      <button class="arrow-btn right" (click)="scroll(academicScroll, 300, 'academic')">&#8594;</button>
    </div>
    <div class="dots">
      <span *ngFor="let _ of getDotCount(academicProjects); let i = index"
        [class.active]="isDotActive(i, 'academic')"></span>
    </div>
  </div>

  <!-- Side Projects -->
  <div class="project-category">
    <h2>Side Projects</h2>
    <h3 class="project-summary">
      <div *ngIf="profile?.side_projects_summary" [innerHTML]="profile.side_projects_summary! | safeHtml"></div>
    </h3>
    <div class="scroll-wrapper" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
      <button class="arrow-btn left" (click)="scroll(sideScroll, -300, 'side')">&#8592;</button>
      <div class="scroll-container" #sideScrollContainer>
        <div class="project-card" *ngFor="let project of sideProjects">
          <img [src]="project.image" alt="{{ project.name }}" />
          <div class="project-info">
            <h4>{{ project.name }}</h4>
            <p>{{ project.description }}</p>
            <p-button *ngIf="project.url?.trim()" label="Click for code or demo" icon="pi pi-arrow-right"
                      (onClick)="openLink(project.url)" class="custom-button mt-3">
            </p-button>
          </div>
          <div class="project-tech-stack">
            <strong>Tech Stack:</strong>
            <ul class="tech-list">
              <li *ngFor="let tech of project.technology">{{ tech }}</li>
            </ul>
          </div>
        </div>
      </div>
      <button class="arrow-btn right" (click)="scroll(sideScroll, 300, 'side')">&#8594;</button>
    </div>
    <div class="dots">
      <span *ngFor="let _ of getDotCount(sideProjects); let i = index" [class.active]="isDotActive(i, 'side')"></span>
    </div>
  </div>
</div>
