<p-sidebar [(visible)]="sidebarVisible" position="right" [modal]="true" header="Preferences">
  <div class="preferences-container">

    <!-- Font Size Dropdown -->
    <label for="font-size">Font Size</label>
    <p-dropdown
      inputId="font-size"
      [options]="fontSizeOptions"
      [(ngModel)]="selectedFontSize"
      (onChange)="handleFontSizeChange($event.value)"
      placeholder="Select Size"
      optionLabel="label"
      class="w-full">
      <ng-template pTemplate="selectedItem" let-selected>
        <div *ngIf="selected">
          <i class="{{ selected.icon }}" style="margin-right: 0.5rem;"></i>
          {{ selected.label }}
        </div>
      </ng-template>
      <ng-template let-option pTemplate="item">
        <i class="{{ option.icon }}" style="margin-right: 0.5rem;"></i>
        {{ option.label }}
      </ng-template>
    </p-dropdown>

    <!-- Theme Dropdown -->
    <label for="theme">Theme</label>
    <p-dropdown
      inputId="theme"
      [options]="themeOptions"
      [(ngModel)]="selectedTheme"
      (onChange)="changeTheme($event.value)"
      placeholder="Select Theme"
      optionLabel="label"
      class="w-full">
      <ng-template pTemplate="selectedItem" let-selected>
        <div *ngIf="selected">
          <i class="{{ selected.icon }}" style="margin-right: 0.5rem;"></i>
          {{ selected.label }}
        </div>
      </ng-template>
      <ng-template let-option pTemplate="item">
        <i class="{{ option.icon }}" style="margin-right: 0.5rem;"></i>
        {{ option.label }}
      </ng-template>
    </p-dropdown>

    <!-- Dark Mode Toggle -->
    <div class="toggle-container">
      <label class="theme-toggle-label">Dark Mode</label>
      <p-inputSwitch [ngModel]="isDarkMode" (onChange)="toggleDarkMode()"></p-inputSwitch>
    </div>

  </div>
</p-sidebar>

<!-- Button to open sidebar -->
<button type="button" pButton icon="pi pi-cog" label="Preferences" (click)="sidebarVisible = true"></button>
